<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Open Graph tag parser</title>
</head>

<body class="bg-light">
    <div class="container">

        <div class="row mt-5 justify-content-center">

            <div class="col-sm col-md-9 col-lg-10 col-xl-10">
                <h1>Plain JSON result</h1>
                <button type="button" class="btn btn-primary" onclick="copyToClipboard('#Textarea')">Copy to
                    clipboard</button>
                <a href="/" role="button" class="btn btn-secondary" aria-pressed="True">Go Back</a>
                <div class="form-group">
                    <label for="Textarea"></label>
                    <textarea class="form-control" id="Textarea" rows="33"></textarea>
                </div>
                <small id="urlHelp" class="form-text text-muted">Powered by Alexey Petrov</small>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>

    <script>
        var myData = $message;

        var textedJson = JSON.stringify(myData, undefined, 4);
        $('#Textarea').text(textedJson);
    </script>

</body>

</html>