<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Open Graph tag parser</title>
</head>

<body class="bg-light">
    <div class="container">

        <div class="row mt-5 justify-content-center">

            <div class="col-sm col-md-8 col-lg-6 col-xl-6">
                <form method="get" action="collect">
                    <div class="form-group">
                        <label for="InputURL">URL address</label>
                        <input type="text" name="url" class="form-control" id="InputURL" aria-describedby="urlHelp">
                        <small id="urlHelp" class="form-text text-muted">Enter URL you want to get tags from. URL should begin from http:// or https://</small>
                        <small id="urlHelp" class="form-text text-muted">API is available on /api</small>
                        <small id="urlHelp" class="form-text text-muted">Use following pattern: http://app_domain/?url=URL_YOU_WANT_TO_PARSE</small>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Collect Tags</button>
                </form>
            </div>

        </div>


    </div>

</body>

</html>